.headerSection {
  border-bottom: var(--border);
  width: 100%;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }
  .title{
    color: var(--color-text);
    font-size: var(--fs-sm);
    font-weight: var(--fw-bold);
  }
}
