header {
  border-bottom: 1px solid #606060;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem 0 0.3rem
  }
  .title{
    color: var(--color-text);
    font-size: var(--fs-sm);
    font-weight: var(--fw-bold);
  }

  .modeSwither {
    display: flex;
    cursor: pointer;
    align-items: center;
    text-transform: capitalize;


    span {
      font-size: var(--fs-sm);
      font-weight: var(--fw-bold);
      margin-left: 0.75rem;
    }

  }
}
